/* git commit -m "feat:  are added `LANG=en_EN date +'(%a, %b %d, %Y %r)'`" */


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Alegreya SC';
    font-size: 22px;
    background-color: #dad7cd;
    min-height: 100vh;
}

input {
    display: none;
}

.slider {
    display: flex;
    justify-content: center;
    height: 600px;
    padding-left: 30px;
    padding-right: 30px;
}

.slider__container {
    width: 630px;
    height: inherit;
}

.slider__wrapper {
    height: 87%;
    width: 100%;
    border-radius: 5px;
    background-color: #a3b18a;
    overflow: hidden;
}

.slider__inner {
    display: flex;
    width: 600%;
    height: 100%;
    transition: 0.5s cubic-bezier(0, 0.16, 0.64, 1.15);
}

.slider__image-wrapper {
    height: 100%;
    width: 16.66667%;
}

.slider__image {
    display: block;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.slider__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 13%;
    padding-left: 30px;
    padding-right: 30px;
}

.slider__captions {
    max-width: 40%;
}


.slider__caption1,
.slider__caption2,
.slider__caption3,
.slider__caption4,
.slider__caption5,
.slider__caption6 {
  transform: scale(0.01);
  font-size: 0;
  transition: all 0.3s;
}


.slider__caption {
    margin: 0;
}

.slider__controls {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider__control {
    height: 2.5rem;
    width: 10%;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.slider__disk {
    display: block;
    margin: 0 auto;
    height: 0.8rem;
    width: 0.8rem;
    background-color: #344e41;
    border: 0.2rem solid #344e41;
    border-radius: 50%;
}


/*images switching*/

#control1:checked~.slider__wrapper .slider__inner {
    margin-left: 0;
 }
 
 #control2:checked~.slider__wrapper .slider__inner {
    margin-left: -100%;
 }
 
 #control3:checked~.slider__wrapper .slider__inner {
    margin-left: -200%;
 }
 
 #control4:checked~.slider__wrapper .slider__inner {
    margin-left: -300%;
 }

 #control5:checked~.slider__wrapper .slider__inner {
    margin-left: -400%;
 }

 #control6:checked~.slider__wrapper .slider__inner {
    margin-left: -500%;
 }



 /*radiobuttons animation*/

 #control1:hover~.slider__bottom .slider__controls .slider__control .slider__disk1,
 #control2:hover~.slider__bottom .slider__controls .slider__control .slider__disk2,
 #control3:hover~.slider__bottom .slider__controls .slider__control .slider__disk3,
 #control4:hover~.slider__bottom .slider__controls .slider__control .slider__disk4,
 #control5:hover~.slider__bottom .slider__controls .slider__control .slider__disk5,
 #control6:hover~.slider__bottom .slider__controls .slider__control .slider__disk6 {
     border: 0.2rem solid #588157;
     background-color: #588157;
 }


#control1:checked~.slider__bottom .slider__controls .slider__control .slider__disk1,
#control2:checked~.slider__bottom .slider__controls .slider__control .slider__disk2,
#control3:checked~.slider__bottom .slider__controls .slider__control .slider__disk3,
#control4:checked~.slider__bottom .slider__controls .slider__control .slider__disk4,
#control5:checked~.slider__bottom .slider__controls .slider__control .slider__disk5,
#control6:checked~.slider__bottom .slider__controls .slider__control .slider__disk6 {
    border: 0.2rem solid #2a9d8f;
    animation-name: colorize;
    animation-duration: .5s;
}

@keyframes colorize {
    0%   {background-color: blue;}
    20%   {background-color: #03045e; width: 0.3rem; height: 0.3rem;}
    40%   {background-color: #023e8a}
    60%   {background-color: #0077b6}
    60%   {background-color: #0096c7}
    100% {background-color: #48cae4}
  }

#control1:checked:hover~.slider__bottom .slider__controls .slider__control .slider__disk1,
#control2:checked:hover~.slider__bottom .slider__controls .slider__control .slider__disk2,
#control3:checked:hover~.slider__bottom .slider__controls .slider__control .slider__disk3,
#control4:checked:hover~.slider__bottom .slider__controls .slider__control .slider__disk4,
#control5:checked:hover~.slider__bottom .slider__controls .slider__control .slider__disk5,
#control6:checked:hover~.slider__bottom .slider__controls .slider__control .slider__disk6 {
    border: 0.2rem solid #2a9d8f;
    background-color: #588157;
}


 /*text animation*/

 #control1:checked~.slider__bottom .slider__captions .slider__caption1,
 #control2:checked~.slider__bottom .slider__captions .slider__caption2,
 #control3:checked~.slider__bottom .slider__captions .slider__caption3,
 #control4:checked~.slider__bottom .slider__captions .slider__caption4,
 #control5:checked~.slider__bottom .slider__captions .slider__caption5,
 #control6:checked~.slider__bottom .slider__captions .slider__caption6 {
    transform: scale(1);
    font-size: 22px;
    transition: all 0.3s;
}

