/* git commit -m "feat:  are added `LANG=en_EN date +'(%a, %b %d, %Y %r)'`" */


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Alegreya SC';
    font-size: 22px;
    line-height: 22px;
    background-color: #dad7cd;
    min-height: 100vh;
}

input {
    visibility: hidden;
}

.slider {
    display: flex;
    justify-content: center;
    height: 600px;
    padding-left: 30px;
    padding-right: 30px;
}

.slider__container {
    width: 630px;
    height: inherit;
}

.slider__wrapper {
    height: 87%;
    width: 100%;
    border-radius: 5px;
    background-color: #a3b18a;
    overflow: hidden;
}

.slider__inner {
    display: flex;
    width: 600%;
    height: 100%;
}

.slider__image-wrapper {
    height: 100%;
    width: 16.66667%;
}

.slider__image {
    display: block;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.slider__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 13%;
    padding-left: 30px;
    padding-right: 30px;
}

.slider__captions {
    max-width: 40%;
    height: fit-content;
}

.slider__caption {
    margin: 0;
}

.slider__controls {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider__control {
    height: 1.5rem;
    width: 10%;
    cursor: pointer;
}

.slider__disk {
    display: block;
    margin: 0 auto;
    height: 0.8rem;
    width: 0.8rem;
    background-color: #344e41;
    border: 0.2rem solid #344e41;
    border-radius: 50%;
}




#control1:checked~.slider__wrapper .slider__inner {
    margin-left: 0;
 }
 
 #control2:checked~.slider__wrapper .slider__inner {
    margin-left: -100%;
 }
 
 #control3:checked~.slider__wrapper .slider__inner {
    margin-left: -200%;
 }
 
 #control4:checked~.slider__wrapper .slider__inner {
    margin-left: -300%;
 }


 #control5:checked~.slider__wrapper .slider__inner {
    margin-left: -400%;
 }

 #control6:checked~.slider__wrapper .slider__inner {
    margin-left: -500%;
 }